<h1>Edit This Discount</h1>

<%= render partial: 'form', locals: {
                                      model: [@merchant, @discount],
                                      button_text: 'Edit Discount'} %>
